.a {
    color: var(--text-header);
    font-family: var(--font-hello);
}

.b {
    color: orange;
    font-weight: bold;
}

.h {
    font-size: 15rem;
    font-weight: bold;
}

.n {
    font-size: 5em;
}

.f {
    font-size: 3em;
}

.centeri {
    align-self: center;
    text-align: center;
    width: 40%;
}

