.Line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: var(--gap);
}

.Line[width="100%"] {
    width: 100%;
}

.Line[justify="center"] {
    justify-content: center;
}

.Line[justify="flex-end"] {
    justify-content: flex-end;
}

.Line[justify="between"] {
    justify-content: space-between;
}

.Line[justify="around"] {
    justify-content: space-around;
}