:root {
    --text-header: #ffffff;
    --background-header: #212121;
    --background-hello: #000000;
    --font-logo: 'Lobster', cursive;
    --font-header: 'Roboto Condensed', sans-serif;
    --font-hello: 'Rajdhani', sans-serif;

    --gap: 2em;
    --gap-m: 1em;
    --gap-s: 0.5em;
    --header-height: 2.8em;
}
